<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/main.css">

    </head>

    <body>
        <%- include('../partials/nav') %>
            <main>
                <h1>Nothing there at the moment.</h1>
            </main>
            <%- include('../partials/footer') %>